numpy==1.23.1
click>=8.0
pillow==8.4.0
scipy
requests==2.26.0
tqdm
matplotlib
imageio==2.9.0
ffmpeg==1.4
imageio-ffmpeg
imgui==1.3.0
glfw==2.2.0
pyopengl==3.1.5
tensorflow-gpu==2.8.4
pyspng
psutil
tensorboard
transformers
diffusers[torch]
face_alignment
mtcnn
kornia
dominate
gdown
trimesh
gradio
opencv-python==4.5.4.60
mrcfile
numpy==1.23.1
